html { 
    background: url(homepage2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#homebutton {
margin-top: 765px;
margin-left: 730px;
}