html { 
    background: url(levels.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#levelOne {
    margin-left: 1040px;
    margin-top: 214px;
}